.build-work-slide {
    border-radius: 8px;
    padding: 10px;
    background: #fff;
    overflow: hidden;
    width: 65%;
}

.build-work {
    padding-bottom: 80px;
}

.build-work-slide:last-child {
    margin-left: auto;
    margin-top: -50%;
    position: relative;
    z-index: -1;
}

.build-work-slide__picture {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
}


@media screen and (max-width: 767px) {
    .build-work_center {
        text-align: center;
    }
}

/*@media screen and (min-width: 576px) {*/
/*    .build-work-text {*/
/*        margin-top: 100px;*/
/*    }*/
/*    .build-work-text {*/
/*        text-align: center;*/
/*    }*/

/*    .build-work {*/
/*        padding-bottom: 136px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 768px) {*/
/*    .build-work-text {*/
/*        margin-top: 80px;*/
/*    }*/
/*    .build-work-text {*/
/*        text-align: unset;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 1200px) {*/
/*    .build-work {*/
/*        padding: 80px 0;*/
/*    }*/
/*}*/
