.build-work {
    padding-bottom: 236px;
}

.build-work-text__main {
    font-size: 3rem;
    font-family: var(--font-secondary);
}
.build-work-text__secondary {
    color: var(--font-color-main);
    line-height: 35px;
    font-size: 1.125rem;
    font-family: var(--font-main);
    font-weight: 400;
    margin-top: 44px;
}
.build-work-text__main {
    color: var(--font-color-secondary);
    font-family: var(--font-secondary);
    font-size: 2.9375rem;
}
.build-work-text {
    margin-top: 50px;
}

.build-work-slide {
    border-radius: 8px;
    padding: 10px;
    background: #fff;
    overflow: hidden;
    width: 65%;
}

.build-work-slide:last-child {
    margin-left: auto;
    margin-top: -50%;
    position: relative;
    z-index: -1;
}

.build-work-slide__picture {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
}
@media screen and (max-width: 575px) {
    .build-work-text {
        text-align: center;
    }
}

@media screen and (min-width: 576px) {
    .build-work-text {
        margin-top: 100px;
    }
    .build-work-text {
        text-align: center;
    }

    .build-work {
        padding-bottom: 136px;
    }
}

@media screen and (min-width: 768px) {
    .build-work-text {
        margin-top: 80px;
    }
    .build-work-text {
        text-align: unset;
    }
}

@media screen and (min-width: 1200px) {
    .build-work {
        padding-bottom: 100px;
    }
}