.build-work-slide {
    border-radius: 8px;
    padding: 10px;
    background: #fff;
    overflow: hidden;
    width: 65%;
}

.build-work {
    padding-bottom: 80px;
}

.build-work-slide:last-child {
    margin-left: auto;
    margin-top: -50%;
    position: relative;
    z-index: -1;
}

.build-work-slide__picture {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
}


@media screen and (max-width: 767px) {
    .build-work_center {
        text-align: center;
    }
    .build-work .block-text {
        margin-top: 48px;
    }
}

