.work-culture-text__main {
    color: var(--font-color-secondary);
    font-family: var(--font-secondary);
    font-size: 2.9375rem;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.20000000298023224px;
}

.work-culture {
    background: var(--work-culture-background);
    padding: 80px 0;
}

.work-culture-text__secondary {
    font-family: var(--font-main);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: var(--font-color-main);
    margin-top: 20px;
}

.work-culture-text__main {
    font-size: 2.9375rem;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
}

.work-culture-center {
    position: relative;
}
.work-culture-center__picture {
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    transition: 600ms;
}

.work-culture-center__picture:hover {
    transform: scale(1.015);
    box-shadow: 0px 10px 13px -7px #000000, 0px -14px 50px -6px #4d4d4d;
}

.work-culture {
    background: var(--work-culture-background);
}

.work-culture-text-list {
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
    .work-culture_center {
        text-align: center;
    }
    .work-culture-center {
        top: 36px;
    }
}
