.build-work {
    padding-bottom: 128px;
}

.bw-1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    position: relative;
    border-radius: 8px;
}

.bw-2 {
    grid-column: 4/ -1;
    position: relative;
    grid-row: 1;
    right: 128px;
    top: 128px;
    z-index: -1;
}

.build-work__pictures {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
}

.build-work__text h2 {
    font-size: 48px;
    margin-top: 25px;
    font-family: var(--font-secondary);
}

.build-work__text h3 {
    color: #5A7184;
    line-height: 34px;
    font-size: 18px;
    font-family: var(--font-main);
    font-weight: 400;
    margin-top: 44px;
}

.build-work__text {
    position: relative;
    left: 10px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.build-work__pictures_wrapper {
    padding: 10px 10px 0px 0px;
    background: white;
    border-radius: 8px 8px 8px 0;
}

