.build-work {
    padding-bottom: 236px;
}

.build-work-slide {
    border-radius: 8px;
    padding: 10px;
    background: #fff;
    overflow: hidden;
    width: 65%;
}

.build-work-slide:last-child {
    margin-left: auto;
    margin-top: -50%;
    position: relative;
    z-index: -1;
}

.build-work-slide__picture {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

@media screen and (min-width: 576px) {
    .build-work {
        padding-bottom: 136px;
    }
}

@media screen and (min-width: 1200px) {
    .build-work {
        padding-bottom: 100px;
    }
}
