.build-work {
    padding-bottom: 236px;
}

.build-work-left__second-pic {
    position: relative;
    right: 127px;
    top: 140px;
    display: flex;
    z-index: -1;
}

.build-work-left {
    display: flex;
}

.build-work-text__main {
    font-size: 3rem;
    font-family: var(--font-secondary);
}

.build-work-text__secondary {
    color: var(--font-color-main);
    line-height: 35px;
    font-size: 1.125rem;
    font-family: var(--font-main);
    font-weight: 400;
    margin-top: 44px;
}

.build-work-text__main {
    color: var(--font-color-secondary);
    font-family: var(--font-secondary);
    font-size: 2.9375rem;
}

.build-work-text {
    margin-top: 50px;
}

.build-work-left__first-pic img {
    border-radius: 8px;
    cursor: pointer;
}

.build-work-left__first-pic {
    padding: 0px 10px 0px 0px;
    background: white;
    margin-top: 10px;
    border-radius: 8px 8px 8px 0;
}


@media screen and (min-width: 768px) {

}


@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}