.footer-main__facilities h3 {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: left;
    color: #183B56;
}

.footer-main__facilities a {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 42px;
    text-align: left;
    color: #183B56;
}

.footer-main__facilities h2 {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #5A7184;
}

.footer-main__ovals div {
    height: 40px;
    width: 42px;
    background: #E7EBF1;
    border-radius: 50%;
}

.footer-main__ovals {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer-main__ovals div {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.footer-main__logo-main h2 {
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #5A7184;
}

.footer-main__heart {
    margin: 0 auto;
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-main__heart a {
    text-decoration: none;
    color: #5A7184;
    font-family:var(--font-main);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 24px;
}

.footer-main__heart svg {
    cursor: pointer;
}

.footer-main__ovals svg {
    margin: 0 auto;
    display: flex;
}

.footer-main {
    padding-bottom: 80px;
}

.footer-main__logo-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 160px;
    justify-content: space-between;
}

.footer-main__heart__square {
    background: beige;
    width: 56px;
    height: 56px;
}

.footer-main__heart__oval {
    border-radius: 50%;
    display: flex;
    height: 100%;
    background: #1576D8;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

