.footer__blocks h3 {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: #183B56;
}

.footer__blocks a {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: left;
    color: #183B56;
}

.footer__blocks h2 {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #5A7184;
}

.footer-ovals div {
    height: 40px;
    width: 42px;
    background: #E7EBF1;
    border-radius: 50%;
}

.footer-ovals {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer {
    margin-top: 128px;
}

.footer-ovals div {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.footer__firstblock h2 {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #5A7184;
}

.footer__heart {
    margin: 0 auto;
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer__heart a {
    text-decoration: none;
    color: #5A7184;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 24px;
}

.footer-ovals svg {
    margin: 0 auto;
    display: flex;
}


.page-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-main {
    flex-grow: 1;
}

.header-main,
.footer{
    flex-shrink: 0;
}

