.footer-main-facilities h3 {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: left;
    color: #183B56;
}

.footer-main-facilities a {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 42px;
    text-align: left;
    color: #183B56;
}

.footer-main-facilities h2 {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #5A7184;
}

.footer-main-ovals div {
    height: 40px;
    width: 42px;
    background: #E7EBF1;
    border-radius: 50%;
}

.footer-main-ovals {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer-main-ovals div {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    align-items: center;
}

.footer-main-start__text h2 {
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #5A7184;
}

.footer-main-heart {
    margin: 0 auto;
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-main-heart a {
    text-decoration: none;
    color: #5A7184;
    font-family:var(--font-main);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 24px;
}

.footer-main {
    padding-bottom: 80px;
    padding-top: 128px;
}

.footer-main-start {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 160px;
    justify-content: space-between;
}

.footer-main-heart__square {
    background: beige;
    width: 56px;
    height: 56px;
    cursor: pointer;
}

.footer-main-heart__oval {
    border-radius: 50%;
    display: flex;
    height: 100%;
    background: #1576D8;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.footer-main-start__ehya svg:hover {
    transition: ease-out;
    transition-duration: 0.3s;
    margin-left: 10px;
    opacity: 85%;
    cursor: pointer;
}

.footer-main-facilities__list a:hover {
    color: blue;
}