*,
*:before,
*:after {
    box-sizing: border-box;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, p {
    margin: 0;
}

:root {
    --font-main: 'Open Sans', sans-serif;
    --font-secondary: 'HK Grotesk', sans-serif;
    --font-color-main: #5A7184;
    --font-color-secondary: #183B56;
    --header-gray: #E7EBF1;
    --work-culture-background: #E7EBF1;
    --links-hover: blue;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    margin: 0;
    line-height: 1.7;
}

.btn {
    font-family: var(--font-main);
    background: none;
    border: 2px solid currentColor;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: #1565D8;
    display: inline-flex;
    padding: 0 20px;
    cursor: pointer;
    text-decoration: none;
    height: 48px;
    align-items: center;
}

.preload * {
    transition: none !important;
}

.scroll-lock {
    overflow: hidden !important;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex !important;
}