*,
*:before,
*:after {
    box-sizing: border-box;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

h1,h2,h3,h4,p {
    margin: 0;
}

:root {
    --font-main: 'Open Sans', sans-serif;
    --font-secondary: 'HK Grotesk', sans-serif;
    --font-color-main: #1565D8;
    --font-color-secondary: #183B56;
    --header-gray: #E7EBF1;
    --work-culture-background: #E7EBF1;
}

a {
    text-decoration: none;
}

h2 {
    font-family: var(--font-secondary);
    font-size: 48px;
    color: #183B56;
}

ul  {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    margin: 0;
}