*,
*:before,
*:after {
    box-sizing: border-box;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

:root {
    --font-main: 'Open Sans', sans-serif;
    --font-secondary: 'HK Grotesk', sans-serif;
    --font-color-main: #5a7184;
    --font-color-secondary: #183b56;
    --header-gray: #e7ebf1;
    --work-culture-background: #e7ebf1;
    --links-hover: blue;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    margin: 0;
    line-height: 1.6; // 140%
}

.preload * {
    transition: none !important;
}

.scroll-lock {
    overflow: hidden !important;
}
