.header-main {
    --header-margin: 40px;
    --user-padding: 10px;
    flex-shrink: 0;
    height: 100px;
}

.header-main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-main-menu__hidden-button {
    display: none;
}

.header-main {
    flex-shrink: 0;
    background-color: #E7EBF1;
    display: flex;
    align-items: center;
}

.header-main-menu__link {
    color: #183B56;
    padding: var(--user-padding);
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 16px;
}

.header-main-menu__btn {
    border: 2px solid #1565D8;
    border-radius: 8px;
    background: #E7EBF1;
    color: #1565D8;
    font-size: 16px;
    font-family: var(--font-main);
    padding: 13px 24px 13px 24px;
    font-weight: 700;
    cursor: pointer;
}

.header-main-logo svg {
    cursor: pointer;
}

nav.header-main__menu {
    display: flex;
    height: 100%;
    align-items: center;
}

.header-main-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-main-logo {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.header-main_wrapper {
    padding-top: 26px;
    background: var(--header-gray);
}

.page-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-main {
    flex-grow: 1;
    min-height: 30vh;
}

.header-main-menu__link:hover {
    color: blue;
    opacity: 75%;
    text-decoration: none;

}

.header-main-menu__btn:hover {
    font-family: var(--font-main);
    cursor: pointer;
    background: #1565D8;
    color: white;
    transition: ease-in;
    transition-duration: 0.2s;
}

.header-main-menu__link {
    margin-right: calc(var(--header-margin) - var(--user-padding));
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .header-main-menu__link {
        display: none;
    }
    .header-main-menu__btn {
        display: none;
    }
    .header-main-menu__hidden-button {
        display: flex;
    }
    .header-main-logo {
        justify-content: flex-end;
    }
    .hero__content {
        display: flex;
    }

    .container {
        width: 100%;
    }

    .information-main .information-content {
        align-items: center;
    }
    .information-main .information-content__text {
        align-items: center;
    }
    .build-work .build-work-text {
         left: 0;
    }
    .build-work-left__first-pic {
        position: relative;
        left: 30px;
    }

    .build-work-left__first-pic img {
        width: 277px;
        height: 370px;
    }

    .build-work .build-work-left__second-pic {
        right: 99px;
    }
    .build-work .build-work-left__second-pic img{
     width: 292px;
        height: 370px;
    }

    .work-culture__picture img {
        width: 315px;
        height: 410px;
    }
    .work-culture .work-culture__picture {
        margin-top: 184px;
        display: flex;
        justify-content: flex-end;
    }
    .work-culture .work-culture-text {

        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .work-culture-text__secondary {
        display: flex;
        margin-right: 18px;
    }

    .work-culture-text__main {
        margin-right: 55px;
    }
    .our-blog-advices_disappear {
        display: none;
    }








    .footer-main .footer-main-start {
        align-content: center;
    }
}


