.header-main {
    --header-margin: 40px;
    --user-padding: 10px;
    flex-shrink: 0;
    height: 100px;
}

.header-main {
    flex-shrink: 0;
    background-color: #E7EBF1;
    display: flex;
    align-items: center;
}

.header-menu__link {
    color: #183B56;
    padding: var(--user-padding);
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 1rem;
}

.header-menu__btn {
    border: 2px solid #1565D8;
    border-radius: 8px;
    background: #E7EBF1;
    color: #1565D8;
    font-size: 1rem;
    font-family: var(--font-main);
    padding: 13px 24px 13px 24px;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
    transition: 600ms;
}

.header__logo svg {
    cursor: pointer;
}

.header__logo {
    display: flex;
    height: 100%;
    align-items: center;
}

.header-main_wrapper {
    padding-top: 26px;
    background: var(--header-gray);
}

.page-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-menu__link:hover {
    color: var(--links-hover);
    opacity: 75%;
    text-decoration: none;

}

.header-menu__btn:hover {
    font-family: var(--font-main);
    cursor: pointer;
    background: #1565D8;
    color: white;
    transition: ease-in;
    transition-duration: 0.2s;
}

.header-menu__link {
    margin-right: calc(var(--header-margin) - var(--user-padding));
    transition: 600ms;
}

.header-main-content {
    display: flex;
    justify-content: flex-end;
}

.header-menu {


}



.header-main {
    flex-shrink: 0;
    background-color: #E7EBF1;
    display: flex;
    position: relative;
    align-items: center;
}


@media screen and (max-width: 767px) {
    .header-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--header-gray);
        flex-direction: column;
        padding-left: 40px;
        padding-bottom: 20px;
        align-items: flex-start;

    }
    .header-menu {
        display: none;
    }
    .header-menu__hidden-button {
        display: flex;
    }
    .header-menu_opened {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .header-menu {
        display: flex;
        align-items: center;
    }

    .header-menu__btn.btn_primary {
        margin-top: 0;
    }
    .header-menu {
        display: flex;
    }
    .header-menu__hidden-button {
        display: none;
    }
}