.header__main {
    display: flex;
    padding: 26px 0 200px 0px;
}


nav.header__main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 0px;
}

.header__main-menu a {
    color: #183B56;
    padding: 10px;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.header__main-menu button {
    border: 2px solid #1565D8;
    border-radius: 8px;
    background: #E7EBF1;
    color: #1565D8;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    padding: 13px 24px 13px 24px;
    left: 0;
    right: 0;
    font-weight: 700;
    cursor: pointer;
}

.header__main-logo {
    cursor: pointer;
}