.information-content__statistic {
    font-family: var(--font-secondary);
    font-size: 3rem;
    color: var(--font-color-secondary);
    font-weight: 700;
    margin-top: 30px;
    letter-spacing: 0.20000000298023224px;
}

.information-content__text {
    font-family: var(--font-main);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    color: #5A7184;
}

.information-content__oval {
    display: flex;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 50%;
    background: #E7EBF1;
    flex-direction: column;
    justify-content: center;
}

.information-content__oval svg {
    margin: 0 auto;
}

.information-bottom-line {
    height: 1px;
    background: #E5EFFF;
    margin-top: 95px;
    width: 100%;
}

.information-main {
    padding-top: 91px;
    padding-bottom: 80px;
}

.information-content {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {


}