.information-content h2 {
    font-family:  var(--font-secondary);
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}

.information-content h3 {
    font-family:  var(--font-main);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    color: #5A7184;
    padding: 0;
    margin: 0;
}

.information-content__oval {
    display: flex;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 50%;
    background: #E7EBF1;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
}

.information-content__oval svg {
    margin: 0 auto;
}

.information-bottom-line {
    height: 1px;
    background: #E5EFFF;
    margin-top: 95px;
    width: 100%;
}

.information_wrapper {
    padding-top: 91px;
    padding-bottom: 80px;

}

.information-content__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.information-content {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
