.our-blog-advices {
    background: #F9FBFE;
    padding: 10px;
    height: 438px;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-around;
}

.our-blog span {
    font-family: var(--font-secondary);
    font-size: 3rem;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #183B56;
}

.our-blog__theme{
    color: var(--font-color-secondary);
    font-family: var(--font-secondary);
    font-size: 2.9375rem;
}


.our-blog-advices h3 {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: var(--font-color-secondary);
}

.our-blog-advices p {
    font-family: var(--font-main);
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #959EAD;
}

.our-blog-advices a {
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #1565D8;
}

.our-blog-advices img {
    cursor: pointer;
    border-radius: 8px;
}

.our-blog-advices__text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    padding-left: 20px;
    align-content: space-around;
}

.our-blog-advices__arrow img {
    margin-left: 14px;
    margin-top: 3px;
}


.our-blog_wrapper {
    padding-bottom: 96px;
}

.our-blog-advices__arrow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.our-blog-advices__arrow svg {
    --margin-for-arrow: 10px;
    margin-left: var(--margin-for-arrow);
}

.our-blog-advices__arrow:hover {
    opacity: 90%;
    color: var(--links-hover);
    transition: ease-out;
    transition-duration: 0.3s;
    margin-left: 10px;
}

.our-blog-advices__arrow svg {
    transition: all 0.3s;
}

.our-blog-advices img:hover {
    transform: scale(1.020);
}

.our-blog-advices img {
    transition: all 0.3s;
}

h2.our-blog__theme {
    margin-bottom: 58px;
}


@media screen and (min-width: 768px) {
    .our-blog-advices_disappear {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .our-blog-advices_disappear {
        display: flex;
    }

    .build-work .build-work-left__second-pic img {
        width: inherit;
        height: inherit;
    }

    .build-work .build-work-left__first-pic img {
        width: inherit;
        height: inherit;
    }
}

@media screen and (min-width: 1200px) {
    .our-blog-advices_disappear {
        display: flex;
    }
}

@media screen and (min-width: 1400px) {
    .our-blog-advices_disappear {
        display: flex;
    }
}