.our-blog__advices {
    background: #F9FBFE;
    padding: 10px;
    border-radius: 8px;
}

.our-blog span {
    font-family: var(--font-secondary);
    font-size: 48px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #183B56;
}

.our-blog__advices h2 {
    font-family: var(--font-secondary);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #183B56;
}

.our-blog__advices h3 {
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #959EAD;
}

.our-blog__advices a {
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #1565D8;
}

.our-blog__advices img {
    cursor: pointer;
    border-radius: 8px;
}

.our-blog__advices_text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 20px;
}

.our-blog__advices_text__arrow img {
    margin-left: 14px;
    margin-top: 5px;
}

.our-blog h2 {
    padding: 0;
    margin: 0;
}

.wrapper-for_our-blog {
    margin-top: 120px;
    margin-bottom: 96px;
}

