.strip-updates {
    background: #1565D8;
    text-align: center;
    font-size: 1.25rem;
    padding: 80px 0;
}

.strip-updates-text__main {
    font-family: var(--font-secondary);
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 25px;
}

.strip-updates-text__secondary {
    font-size: 1.125rem;
    font-family: var(--font-main);
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 43px;
}

.str-form-input__mail {
    background: #FFFFFF;
    border-radius: 8px;
    text-align: left;
    text-decoration: none;
    border-style: none;
    outline: none;
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 4;
}

.str-form {
    display: flex;
    background: #FFFFFF;
    width: 430px;
    height: 60px;
    margin: 0 auto;
    padding: 5px 5px 5px 0px;
    flex-direction: row;
    font-family: var(--font-main);
    font-weight: 600;
    color: #959EAD;
    font-size: 1rem;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
}

.str-form__btn .submit {
    padding: 10px 28px 15px 28px;
    width: 100%;
    background: #1565D8;
    color: #ffffff;
    border-style: none;
    flex-shrink: 0;
    opacity: 70%;
    border-radius: 4px;
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 18px;
    cursor: not-allowed;
    text-align: center;
}

.str-form-input {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.form__input {
    height: 100%;
    display: flex;
    width: 100%;
}

.str-form__check {
    display: flex;
    align-items: center;
    margin-top: 18px;
    position: relative;
}

.str-form__input button:hover {
    opacity: 0.92;
}

.str-form-input__mail{
    background: white;
}

.strip-updates_wrapper {
    padding-bottom: 128px;
}

form#str-form {
    height: 100%;
    width: 100%;
}

.str-form-input__label {
    cursor: pointer;
    display: flex;
    font-size: 1.125rem;
    color: var(--header-gray);
    font-family: var(--font-secondary);
    align-items: flex-start;

}

.strip-updates__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input:-webkit-autofill {
    box-shadow: inset 0 0 0 1000px #fff;
}

.strip-updates svg:hover {
    transform: scale(1.2);
    fill: var(--links-hover);
}

.str-svg {
    transition: all 0.3s;
}

form#form {
    width: 430px;
    margin: 0 auto;
}

.checkbox-str {
    width: 2.5em;
    height: 1em;
}

.checkbox-str {
    display: none;
}

.agree-str::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background: #fff;
    margin-right: 8px;
    flex-shrink: 0;
}

.agree-str {
    display: flex;
    color: white;
}

.checkbox-str:checked + .agree-str::before {

    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10px' height='8px' fill='black'><path d='M3.39843 7.82422L0.136718 4.58204C0.0455727 4.49089 0 4.3737 0 4.23048C0 4.08725 0.0455727 3.97006 0.136718 3.87891L0.859373 3.17579C0.950519 3.07162 1.06445 3.01955 1.20117 3.01955C1.33789 3.01955 1.45833 3.07162 1.5625 3.17579L3.74999 5.36329L8.43748 0.675796C8.54165 0.57163 8.66209 0.519547 8.79881 0.519547C8.93553 0.519547 9.04946 0.57163 9.1406 0.675796L9.86326 1.37892C9.9544 1.47007 9.99998 1.58725 9.99998 1.73048C9.99998 1.87371 9.9544 1.9909 9.86326 2.08204L4.10155 7.82422C4.01041 7.92838 3.89322 7.98047 3.74999 7.98047C3.60676 7.98047 3.48958 7.92838 3.39843 7.82422Z'> </path> </svg>");
}

.str-form-input__label {
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
}

.str-form-input__mail:focus #str-svg {
    border-color: #f39c12;
    color: #f39c12;
    stroke: #f39c12;
    fill: orange;
}

.str-form-input__mail:focus + .str-form-input__label {
    color: var(--links-hover);
}

@media screen and (max-width: 575px) {
    .str-form {
        display: flex;
        background: #FFFFFF;
        width: 100%;
        height: 126px;
        margin: 0 auto;
        padding: 10px 10px 10px 10px;
        flex-direction: column;
        font-family: var(--font-main);
        font-weight: 600;
        color: #959EAD;
        font-size: 1rem;
        border-radius: 8px;
        align-items: center;
        justify-content: space-between;
    }

    .str-form__btn {
        width: 100%;
        margin-top: 10px;
    }

    .str-form-input {
        border-radius: 6px;
        border: 1px solid #C3CAD9;
    }

    .str-form__check {
        flex-direction: column;
    }

    form#form {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 576px) {
    .str-form {
        display: flex;
        background: #FFFFFF;
        width: 100%;
        height: 126px;
        margin: 0 auto;
        padding: 10px 10px 10px 10px;
        flex-direction: column;
        font-family: var(--font-main);
        font-weight: 600;
        color: #959EAD;
        font-size: 1rem;
        border-radius: 8px;
        align-items: center;
        justify-content: space-between;
    }

    .str-form__btn {
        width: 100%;
        margin-top: 10px;
    }

    .str-form-input {
        border-radius: 6px;
        border: 1px solid #C3CAD9;
    }

    .str-form__check {
        flex-direction: column;
    }

    form#form {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    form#form {
        width: 400px;
    }

    .str-form {
        height: 60px;
        flex-direction: row;

    }

    .str-form__btn {
        width: unset;
        margin-top: 0;
    }

    .str-form__check {
        flex-direction: row;
        display: flex;
    }
    .str-form-input {
         border-radius: unset;
         border: unset;
    }
    .str-form {
        padding: 10px 6px 10px 10px;
    }
}