.work-culture {
    background: var(--work-culture-background);
    padding: 80px 0;
}

.work-culture-text__main {
    font-size: 2.9375rem;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
}

.work-culture-center {
    position: relative;
}

.work-culture-center__picture {
    display: block;
    width: 100%;
}

.work-culture-center__picture {
    cursor: pointer;
    border-radius: 8px;
    transition: 600ms;
}

.work-culture-center__picture:hover {
    transform: scale(1.015);
    box-shadow: 0px 10px 13px -7px #000000, 0px -14px 50px -6px #4d4d4d;
}
