.work-culture {
	background: var(--work-culture-background);
}

.work-culture-text__main {
	color: var(--font-color-secondary);
	font-family: var(--font-secondary);
	font-size: 2.9375rem;
	font-weight: 700;
	line-height: 60px;
}

.work-culture-text__secondary {
	font-family: var(--font-main);
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
	color: var(--font-color-main);
	margin-top: 20px;
}

.work-culture-text__main {
	font-size: 2.9375rem;
	font-weight: 700;
	line-height: 60px;
	text-align: left;
}

.work-culture-center-picture {
	display: block;
	width: 100%;
}

.work-culture-center-picture {
	cursor: pointer;
	border-radius: 8px;
	transition: 600ms;
}

.work-culture-center-picture:hover {
	transform: scale(1.015);
	box-shadow: 0px 10px 13px -7px #000000, 0px -14px 50px -6px #4d4d4d;
}
