.about-us {
    margin: 0 auto;
}

.make-it-work {
    display: flex;
    flex-direction: column;
}

.about-us__image {
    margin: 0 auto;
}

.about-us__text {
    margin: 0 auto;
    text-align: center;
    line-height: 32px;
    padding-bottom: 28px;
}

.about-us__text h3 {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #5A7184;
}

.hero::before {
    content: '';
    display: block;
    background: #E7EBF1;
    width: 100%;
    height: 710px;
    position: absolute;
    z-index: -1;
}