.bw-1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    padding-top: 0%;
    z-index: 1;
}

.bw-2 {
    grid-column: 4 / -1;
    position: absolute;
    grid-row: 1;
    left: 100px;
    top: 125px;
}

.buildwork__pictures {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

.buildwork__text h2 {
    font-size: 48px;
    margin-top: 25px;
}

.buildwork__text h3 {
    color: #5A7184;
    line-height: 34px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 44px;
}

.buildwork__text {
    position: relative;
    left: 42px;
}