.information__content h2 {
    font-family: HK Grotesk, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}

.information__content h3 {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    color: #5A7184;
}

.information__content_oval {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #E7EBF1;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
}

.information__content_oval svg {
    margin: 0 auto;
}

.information__content_line {
    height: 1px;
    background: #E5EFFF;
    margin-top: 95px;
    width: 100%;
}